absl-py==2.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==24.2.0
Authlib==1.3.2
blinker==1.8.2
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.3.0
cryptography==43.0.1
cycler==0.12.1
decorator==5.1.1
distlib==0.3.9
dlib @ file:///D:/laragon/www/faceattendance/SmartPayrollSystemWebsite/SmartPayrollSystem/dlib-19.22.99-cp310-cp310-win_amd64.whl#sha256=f2181b6724669fb0147c9ebc326d72b94de41bced1812eff5df4b133b5d0b575
doctr==1.9.0
editdistance==0.8.1
efficientnet==1.0.0
essential-generators==1.0
exceptiongroup==1.2.2
executing==2.1.0
filelock==3.16.1
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
fonttools==4.54.0
frozenlist==1.4.1
fsspec==2024.9.0
gast==0.6.0
google-auth==2.35.0
google-auth-oauthlib==1.2.1
google-pasta==0.2.0
greenlet==3.1.0
grpcio==1.66.2
h11==0.14.0
h5py==3.11.0
httpcore==1.0.5
httpx==0.27.2
idna==3.8
imageio==2.35.1
imageio-ffmpeg==0.5.1
imgaug==0.4.0
ipython==8.27.0
itsdangerous==2.2.0
jax==0.4.37
jaxlib==0.4.36
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
keras==3.7.0
Keras-Applications==1.0.8
keras-ocr==0.9.3
kiwisolver==1.4.7
langchain==0.2.16
langchain-core==0.2.39
langchain-text-splitters==0.2.4
langsmith==0.1.120
lazy_loader==0.4
libclang==18.1.1
livekit==0.16.2
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mediapipe==0.10.18
ml-dtypes==0.4.1
moviepy==2.1.1
mpmath==1.3.0
multidict==6.1.0
mysql-connector-python==9.1.0
mysql-connector-python-rf==2.2.2
namex==0.0.8
networkx==3.3
ninja==1.11.1.1
numpy==1.26.4
oauthlib==3.2.2
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opt_einsum==3.4.0
optree==0.13.1
orjson==3.10.7
packaging==24.1
pandas==2.2.3
parso==0.8.4
Pillow==9.5.0
platformdirs==4.3.6
pluggy==1.5.0
proglog==0.1.10
prompt_toolkit==3.0.48
protobuf==4.25.5
psutil==6.0.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyclipper==1.3.0.post5
pycparser==2.22
pydantic==2.9.1
pydantic_core==2.23.3
Pygments==2.18.0
PyMySQL==1.1.1
pyparsing==3.1.4
pyproject-api==1.8.0
python-bidi==0.6.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.9.4
rsa==4.9
scikit-image==0.24.0
scikit-learn==1.6.0
scipy==1.14.1
seaborn==0.13.2
sentencepiece==0.2.0
shapely==2.0.6
six==1.16.0
sniffio==1.3.1
sounddevice==0.5.1
SQLAlchemy==2.0.34
stack-data==0.6.3
sympy==1.13.3
tenacity==8.5.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0
termcolor==2.5.0
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tifffile==2024.9.20
tomli==2.0.2
torch==2.4.1
torchvision==0.19.1
tox==4.22.0
tqdm==4.66.5
traitlets==5.14.3
types-protobuf==5.27.0.20240907
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
validators==0.34.0
virtualenv==20.26.6
wcwidth==0.2.13
Werkzeug==3.0.4
wrapt==1.17.0
yarl==1.11.1
